<!-- templates/shop_store.html -->
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>فروشگاه عمومی</title>
</head>
<body dir="rtl">
    <h2>🛍️ فروشگاه حجره {{ shop_id }}</h2>
    {% if products %}
        <ul>
        {% for product in products %}
            <li>
                <strong>{{ product.product_name }}</strong> - {{ product.price }} تومان
                {% if product.discount %}
                    <span>🔻 تخفیف: {{ product.discount }}</span>
                {% endif %}
                <br>
                {% for img in product.images %}
                    <img src="/{{ img }}" width="100">
                {% endfor %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>هیچ محصولی ثبت نشده است.</p>
    {% endif %}
</body>
</html>
