<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>لیست حجره‌ها</title>
</head>
<body dir="rtl">
    <h2>لیست حجره‌های ثبت‌شده</h2>
    {% if shops %}


<ul>
{% for shop in shops %}
    <li>
        <strong><a href="/shop/{{ loop.index0 }}">{{ shop.shop_name }}</a></strong>
        - {{ shop.phone }} ({{ shop.category }})
        | <a href="/delete/{{ loop.index0 }}" onclick="return confirm('آیا مطمئنی می‌خواهی حذف کنی؟')">🗑️ حذف</a>
    </li>
{% endfor %}
</ul>




    {% else %}
        <p>هنوز هیچ حجره‌ای ثبت نشده است.</p>
    {% endif %}
</body>
</html>
